<ng-container>
  <mat-toolbar>
    <button class="sidenav-button" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened" fontIcon="menu">
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened" fontIcon="close">
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
      
      <mat-sidenav #sidenav="matSidenav">
          <mat-nav-list>
              <div class="logo-container">
                  <img src="../assets/etrac-logo.jpg">
              </div>
              <div class = "list" *ngFor="let item of menu">
                  <mat-list-item routerLink="{{ item.url }}" routerLinkActive="active">
                      <mat-icon matListIcon>{{item.icon}}</mat-icon>
                      <h3 matLine>{{item.name}}</h3>
                  </mat-list-item>
              </div>
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>