.header-section{
    margin-bottom:30px;
}

h1{
    color: #496690;
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;  
}

.user-and-search-container{
    display: flex;
    justify-content:end;
}

.search-form{
    width: 400px;
    margin-right: 20px;
}

.form-control{
    background: #F8FAFD;
    border-radius: 6px;
    border: white;
}

.search-book-container{
    display: flex;
    width: 100%;
}

.user-container img{
    width:40px;
}

.card{
    padding: 5px;
    margin: 10px;
    border-radius: 6px;
    border:white;
    background-color: #F8FAFD;
    overflow: hidden;
}

.card-chart{
    padding: 5px;
    margin: 15px;
    border-radius: 6px;
    border:white;
    background-color: white;
    overflow: hidden;
}

.card-body{
    display: flex;
}

.image img{
    width: 80%;
}

.detail{
    margin-left: 20px;
}

.detail h4{
    font-size: 17px;
    color:#496690
}

.chart-column{
    width: fit-content;
}

highcharts-chart{
    background-color: #F8FAFD;
    position: relative;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 1000px) {
    
  }

