<section class="detail-data-section">
    <h1>Edit Data</h1>
    <div class="card">
        <div class="card-body">
            <div class="avatar-container ">
                <img src="{{employee.avatar}}">
            </div>
            <form  (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text"  [(ngModel)]="employee.name" class="form-control" id="name" name="name">
                </div><br>
                <div class="form-group">
                    <label for="cityLived">City</label>
                    <input type="text"  [(ngModel)]="employee.cityLived" class="form-control" id="cityLived" name="cityLived" required>
                </div><br>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="employee.email" class="form-control" id="email" name="email" required>
                </div><br>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="string" [(ngModel)]="employee.phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" required>
                </div><br>
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" [(ngModel)]="employee.companyName" class="form-control" id="companyName" name="companyName" required>
                </div><br>
                <div class="form-group">
                    <label for="salary">Salary ($)</label>
                    <input type="number" [(ngModel)]="employee.salary" class="form-control" id="salary" name="salary" required>
                </div><br>
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input type="text" [(ngModel)]="employee.avatar"class="form-control" id="avatar" name="avatar">
                </div><br>
                <button class="btn" (click) = "submit()">Edit Data</button>
            </form>
        </div>
    </div>
</section>
